.main-header
  .main-header__group
    .main-header__group--logo
      = @group.name
    .main-header__group--edit
      = link_to edit_group_path(@group) do
        Edit
  .main-header__members
    Member:
    - @group.users.each do |user|
      = user.name

.main-contents
  = render @messages
    
.form
  = form_for [@group, @message] do |f|
    .comment
      = f.text_field :content, class: 'comment__box', placeholder: 'type a message'
      = f.label :image, class: "comment__input-btn--image" do
        = icon('far', 'image')
        =f.file_field :image, class: "comment__input-btn", accept: "image/png, image/jpeg"
    = f.submit 'Send', class: "submit-btn"
