.main-header
  .main-header__group
    .main-header__group--logo
      group
    .main-header__group--edit
      Edit
  .main-header__members
    members name

.main-contents
  .main-contents__post
    .main-contents__post--name
      hoshiko
    .main-contents__post--date
      2019/11/20
  .main-contents__comment
    comment
    
  .form
    = form_for [@group, @message] do |f|
      .comment
        = f.text_field :content, class: 'comment__box', placeholder: 'type a message'
        = f.label :image, class: "comment__input-btn--image" do
          = icon('far', 'image')
          =f.file_field :image, class: "comment__input-btn", accept: "image/png, image/jpeg"
      = f.submit 'Send', class: "submit-btn"
